# Build & Binary
/build/
/core/server/build/
Neko_Throne
NekoCore
*.o
*.a
*.so
*.qm
*.pb.cc
*.pb.h

# Cache & Temp
.cache/
.tmp/
/tmp/go-mod-cache
/tmp/go-build-cache
*.log
*.tmp
*.bak

# IDE & OS
.vscode/
.idea/
.DS_Store
.directory

# Go specific
go.work
go.work.sum
