# ─── Core specific artifacts ──────────────────────────────────────────────────
/build/
*.pem
*.dat
*.db
*.log

# ─── Generated Code ───────────────────────────────────────────────────────────
# We ignore generated Go code but keep the .proto definition
/server/gen/*.pb.go
/server/gen/*.pb.*.go
/server/gen/libcore_grpc.pb.go
